{% extends "base.html" %}

{% block title %}Create Item Page{% endblock %}

{% block content %}
<!--Title of adding item page-->
<main class="container" style="max-width: 90%; margin-top: 3%;">
    <nav class="navbar justify-content-center navbar-light py-2" style="background-color: #FE86B0;">
        <a class="navbar-brand mr-auto mr-lg-0">Add a Food Item</a>
    </nav>

    <div class="d-flex justify-content-center align-items-center" style="background-color: #FEAECA;">
        <!-- Form for Adding Item -->
        <form action="{{ url_for('create') }}" method="POST" class="row g-3" style="max-width: 20rem;">
            <!-- Name, Quantity, Location Inputs -->
            <div class="col-12">
                <label for="inputName" class="form-label">Name:</label>
                <input type="text" class="form-control" id="inputName" name="name" required>
            </div>
            <div class="col-12">
                <label for="inputQuantity" class="form-label">Quantity:</label>
                <input type="number" min="0" oninput="this.value = Math.abs(this.value)" class="form-control" id="inputQuantity" name="quantity" required>
            </div>
            <div class="col-12">
                <label for="selectLocation" class="form-label">Location:</label>
                <select class="form-control" id="selectLocation" name="location" required>
                    <option selected>Open this select menu</option>
                    <option value="1">Fridge</option>
                    <option value="2">Freezer</option>
                    <option value="3">Pantry</option>
                    <option value="4">Counter</option>
                </select>
            </div>

            <!-- Expiration, Brought Date, and Shelf Stable Inputs -->
            <div class="col-12" style="margin-top: -1.25rem">
                <label for="inputExpiration" class="form-label">Expiration Date:</label>
                <input type="date" class="form-control" id="inputExpiration" name="expiration" required>
            </div>
            <div class="col-12">
                <label for="inputBrought" class="form-label">Brought Date</label>
                <input type="date" class="form-control" id="inputBrought" name="bought_date" required>
            </div>
            <div class="col-12" style="margin-top: 1.5rem;">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="True" id="flexShelfStable" name="shelf_stable">
                    <label class="form-check-label" for="flexShelfStable">
                        Shelf Stable?
                    </label>
                </div>                                           
            </div>

            <!-- Submit Button -->
            <form action="{{ url_for('create') }}" method="POST" class="row g-3" style="max-width: 20rem;">
                <div id="submitBtn" style="background-color: #FEAECA;">
                    <button type="submit" class="btn btn-primary" style="background-color: #FD4988;">Create Item</button>
                </div>
            </form>
        </form>
    </div>
</main>
{% endblock %}
