{% extends "base.html" %}

{% block title %}Login/Create Account Page{% endblock %}

{% block content %}
<div class="d-flex justify-content-around align-items-center">
  <div id="CreateAccount">
    <h2 style="margin-left: 27%;">Create an Account</h2>
    <form class="row g-3">
      <div class="col-md-6">
        <label for="inputFirstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="inputFirstName">
      </div>
      <div class="col-md-6">
        <label for="inputLastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="inputLastName">
      </div>
      <div class="col-12">
        <label for="inputPhoneNumber" class="form-label">Phone Number</label>
        <input type="text" class="form-control" id="inputPhoneNumber" placeholder="(XXX) XXX-XXXX">
      </div>
      <div class="col-12">
        <label for="inputUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="inputUsername">
      </div>
      <div class="col-12">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="text" class="form-control" id="inputPassword">
      </div>
      <div id="accountBtn" class="col-md-4">
        <button type="submit" class="btn btn-primary" style="background-color: #FD4988;">Create Account</button>
      </div>
    </form>
  </div>

  <div>--Or--</div>

  <div id="Login">
    <h2 style="margin-left: 41.5%;">Login</h2>
    <form class="row g-3">
      <div class="col-12">
        <label for="inputUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="inputUsername">
      </div>
      <div class="col-12">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="text" class="form-control" id="inputPassword">
      </div>
      <div id="loginBtn" class="col-md-4">
        <button type="submit" class="btn btn-primary" style="background-color: #FD4988;">Sign in</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
